/* -------- General ------- */
body {
  margin: 0;
}
body, td, a, p, .h {
    font-family: arial,sans-serif;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav ul li {
  display: inline-block;

}
nav ul li a {
  text-decoration: none;
  padding-left: 27px;
}
nav ul li:last-child a{
  padding-right: 27px;
}

/* -------- Header ------- */
header {
  position: fixed;
  top: 25px;
  width: 100%
}
header nav {
  float: right;
}
header a {
  color: #737373;
  line-height: 24px;
}

/* -------- Main ---------*/
.google-logo,
.search-box,
.search-box-buttons {
    position: absolute;
    top: 38%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -40%);
}
.search-box{
  top: 55%;
}
.search-box input {
    background-color: #fff;
    vertical-align: top;
    border: 1px solid #d9d9d9;
    width: 550px;
    padding: 5px 9px;
    font: 16px arial,sans-serif;
    line-height: 26px;
    height: 26px;
}
.search-box-buttons {
  top: 65%;
}
.search-box-buttons button {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    -webkit-border-radius: 2px;
    -webkit-user-select: none;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    height: 36px;
    line-height: 27px;
}
.search-box-buttons button:hover {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
    background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background-color: #f8f8f8;
    background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
    background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}
/* -------- Footer ------ */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  line-height: 40px;
}
footer a {
  color: #666;
}
footer a:hover {
  text-decoration: underline;
}
.left-footer-nav {
  float: left;
}
.right-footer-nav {
  float: right;
}
